color: #fff;
background: linear-gradient(to bottom right, #6e3979, #bd63c0);
width: 100%;
height: 56px;
line-height: 56px;

background-position-x

linear-gradient(to right bottom, rgb(110, 57, 121), rgb(189, 99, 192))

