
@font-face{
font-family: 'font01';
src: url(activists/Activists\ Regular.otf)}

@font-face{
    font-family: 'font03';
    src: url(fontes/Quoth\ -\ Personal\ Use.otf)}

@font-face{
    font-family: 'font02';
    src: url(fontes/Sweety\ Rasty.otf)}

    @font-face{
        font-family: 'font04';
        src: url(fontes/DS-DIGI.TTF)}

    @font-face{
        font-family: 'font05';
        src: url(fontes/DS-DIGIB.TTF)}

    @font-face{
        font-family: 'font06';
        src: url(fontes/coolvetica\ rg.otf)}    

.brand-logo{ font-family: 'font04';
                padding-: -10px;
}


body{
    font-size: 16px;
    overflow: auto;
    overflow-x: auto;
}


@media screen and (max-width: 768px) {
    .proj1{
        width: 500px;
        height: 170px;
        top: 400%;
        left: 70%;
        margin-top: -250px; /* metade da altura da div */
        margin-left: -250px;
    }
  
    .content {
      font-size: 1em;
      padding: 0.5em;
    }
  }
  

html{
    background-color: #19746af5;
    max-width: 100%;
    max-height: 50rem;
}

#nav{
    position: relative;
    z-index: 4;
}

#nav {
    color: #fff;
    background: linear-gradient(to bottom right, #397179, #120d2e);
    width: 100%;
    height: 56px;
    line-height: 56px;
}



.coluna-esquerda {
    width: 25%;
    height: 365%;
    background: linear-gradient(to bottom right, #70378b4f, #bd63c05e);
    position: absolute;
    left: 0;
    z-index: 0;
    border-style:groove;
    border-color:#440d4b57;
    box-shadow: 2px 2px 5px #440d4b;
  }
  
  .coluna-direita {
    width: 25%;
    height: 365%;
    background: linear-gradient(to bottom right, #70378b49, #bd63c0);
    position: absolute;
    right: 0;
    z-index:1;
    border-style:groove;
    border-color:#440d4b57;
    box-shadow: 2px 2px 5px #440d4b;
  }
  
  #nomeprojeto{
    position: relative;
    left: 5000%;
  }

.image .frame  {
    /* border-radius: 0 0 50% 50% !important; */
    max-width: 100%;
    vertical-align: top;
    width: inherit;
    position: relative;
    z-index: 1;
}

.funcao h5{
    text-align: center;  
    color: #FFFFFF;
    font-family: 'font04';
    position: relative;
    z-index: 2;
    width: 15%;
    left: 42%;
}

#titlemp{
    text-align: center;
    color: #FFFFFF;
    font-family:'font01';
    position: relative;
}

#text{
    color: #FFFFFF;
    font-family: 'font0';
    position: relative;
}

#sobre{

    text-align: center;
    color: #FFFFFF;
    font-family: 'font01';
    position: relative;
    width: 45%;
    z-index: 9;
    left: 27%;
}

.sobre h3{
    text-align: center;
    color: #FFFFFF;
    font-family: 'font01';
    position: relative;
    z-index: 9;
}

.image {
-webkit-text-size-adjust: none;
padding-left: 50%;
word-wrap: break-word;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
display: block;
line-height: 0;
max-width: 100%;
position: relative;
text-align: center;
margin-bottom: var(--spacing);
margin-top: var(--spacing);
opacity: 1;
transform: none;
}

#botao{
    width: 50%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

 .frame{


-webkit-text-size-adjust: none;
word-wrap: break-word;
text-align: center;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font: inherit;
-webkit-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
display: inline-block;
max-width: 100%;
overflow: hidden;
vertical-align: top;
border-radius: 100%;
border-color:#02337ef5;
border-style: solid;
border-width: 10px;
box-shadow: 0rem 0rem 0.125rem 0rem #FFFFFF;
transition: none;
width: 13.75rem;
box-shadow: 2px 2px 5px #250729;
}

.proj1{
    -webkit-text-size-adjust: none;
word-wrap: break-word;
text-align: center;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font: inherit;
-webkit-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
display: inline-block;
max-width: 100%;
overflow: hidden;
vertical-align: top;
border-radius:50% 20% / 10% 40%;
/* //border-color:#440d4b; */
border-style: solid;
border-width: 2px;
box-shadow: 0rem 0rem 0.125rem 0rem #ac0d81;
transition: none;
width: 13.75rem;
background-color: #1b0d4b9f;
}

.proj1:hover{
    background: linear-gradient(to bottom right, #74194b, #c063a981);
    animation: pulse 0.50s infinite;
}

 #dd{
    font-family: 'font04';
      
    font-size: 2rem;
    color:#FFFFFF;
 }


#desc {
    font-family: 'font04';
    font-size: 16PX;
    color: #FFFFFF;
}


 .botao{ 
    /* position: absolute; */
    /* height: 200%;
    width: 20%; */
    /* top: 392%; */
    z-index: 9;
    /* left: 250px; */
    border-radius: 20%;
    border-color: #440d4b;
    background-color: #aa20bd60;
    font-family: 'font03';
    font-size: 1.5em;
    color: #FFFFFF;
}



.botao:hover{
    background-color: #d440e7;
    animation:color 0.50s infinite;
}
@keyframes color{
    0%{
        transform: scale(1);
        background-color: #cf54df;
    }
    50%{
        transform: scale(1.1);
        background-color: #ff6c91d2;
    }
    100%{
        transform: scale(1);
        background-color: #c71abe;
    }
}

#trabalho{
    position: relative;
    width: 5rem;
    height: -1.5rem;
    top: -1rem;
}

#contato{
    position: relative;
    top: 20rem;
    left: 18rem;
}



div#image05 {
    top: 10px;
}
a.brand-logo {
    left: 5%;
}


